img.avatar(src= theme.avatar_url)
span.license
  | &copy 2015 Tristalk, designed by Trista Chen #[br]
  | Powered by #[a(href='https://hexo.io/') Hexo] #[br]
  | Icons made by&nbsp;
  a(href='http://www.flaticon.com/authors/daniel-bruce') Daniel Bruce
  | ,&nbsp;
  a(href='http://www.flaticon.com/authors/dave-gandy') Dave Gandy
  | ,&nbsp;
  a(href='http://www.flaticon.com/authors/simpleicon') SimpleIcon
  | ,&nbsp;
  a(href='http://www.flaticon.com/authors/freepik') Freepik
  | &nbsp;from&nbsp;
  a(href='http://www.flaticon.com') flaticon.com
  | &nbsp;is licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0]
