@import './variables.styl'

.hide
  display: none

.tag-link
  text-decoration: underline

.icon-talk
  position: absolute
  size(25px 20px)
  border-radius: 4px
  background: color-font

.icon-talk::after
  content: ''
  display: block
  size(0)
  absolute: top 19px left 10px
  border-width: 3px 4px
  border-color: transparent
  border-style: solid
  border-top-color: color-font
  border-left-color: color-font

circle-text(d)
  size(d)
  border-radius: (d / 2px)
  line-height: d
  text-align: center

img-circle(diameter)
  size(diameter px)
  border-radius: (diameter/2) px
