@import './variables.styl'

body > footer > *
  display: inline-block
  text-align: left
  vertical-align: middle


.avatar
  img-circle(50)

.license
  margin: 0 0 0 20px
  padding: 0 0 0 20px
  border-left: 2px solid color-border
  font-size: 12px !important
  line-height: 15px

  a
    text-decoration: underline

@media screen and (max-width: 480px)
  .license
    margin: 0 0 0 10px
    padding: 0 0 0 10px
