@import './variables.styl'

.logo
  margin: 10px 0 15px 0
  font-size: 60px
  font-family: 'Patrick Hand SC', cursive
  letter-spacing: 5px
  color: color-font

  .logo-icon
    font-size: 30px


//For nav elements
.m-nav
  display: none
  absolute: top 10px left 10px
  font-size: 25px

.nav-item
  position: relative
  display: inline-block
  margin: 0 1%
  size(95px, 50px)
  font-family: 'Merienda One', cursive
  font-size: 14px

  .nav-icon
    left: 0
    right: 0
    margin: auto
  &:hover .nav-icon
    top: 3px

  .nav-text
    relative: top 35px

for i in (1..nav-length)
  .nav-category-{i} .nav-icon
    background: color-category + i
    &::after
      border-top-color: color-category + i
      border-left-color: color-category + i

@media screen and (max-width: 720px)
  .nav-item
    width: 13%

@media screen and (max-width: 600px)
  .m-nav
    display: block

  #nav
    fixed: top 0 left -45%
    size(45% 100%)
    z-index: 9999
    text-align: center
    background-color: color-nav
    transition: all 500ms ease

    &.show
      left: 0
      overflow: scroll

  .nav-item
    display: block
    left: 0
    right: 0
    margin: 25px auto
    width: 100px

@media screen and (max-width: 480px)
  .m-nav
    font-size: 15px
    absolute: top 5px left 5px
  .logo
    font-size: 24px
    .logo-icon
      font-size: 18px
  .nav-item
    height: 40px
    margin: 20px auto

    .nav-icon
      size(20px 15px)
      &:after
        absolute: top 15px left 7px
        border-width: 2px 3px;
    .nav-text
      top: 25px


//Search bar
.search
  absolute: top 10px right 10px

  .search-form
    display: inline-block

  .search-form-input
    opacity: 0
    width: 0
    transition: all 500ms ease

  &:hover
    .search-form-input
      opacity: 1
      width: 135px

@media screen and (max-width: 480px)
  .search
    display: none
