@import 'nib'

global-reset()

a
  color: inherit
  text-decoration: none

button
  margin: 0
  padding: 0
  border: none
  color: inherit
  background: none

[class^="flaticon-"]:before,
[class*="flaticon-"]:before,
[class^="flaticon-"]:after,
[class*="flaticon-"]:after
  font-size: inherit
  margin-left: 0

[class^="flaticon-"],
[class*="flaticon-"]
  margin: 0 5px
