nav-length = 5

color-font   = #DDDDDD
color-body   = #444444
color-nav    = #222222
color-header = #303030
color-footer = #303030
color-border = #CCCCCC

color-category1= #D85A5A
color-category2= #DB9256
color-category3= #839E4B
color-category4= #2582A3
color-category5= #2E63A9
color-category6= #7B58AE
