.logo {
  margin: 10px 0 15px 0;
  font-size: 60px;
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: 5px;
  color: #ddd;
}

.logo .logo-icon {
  font-size: 30px;
}

.m-nav {
  display: none;
  absolute: top 10px left 10px;
  font-size: 25px;
}

.nav-item {
  position: relative;
  display: inline-block;
  margin: 0 1%;
  font-family: 'Merienda One', cursive;
  font-size: 14px;
}

.nav-item .nav-icon {
  left: 0;
  right: 0;
  margin: auto;
}

.nav-item:hover .nav-icon {
  top: 3px;
}

.nav-item .nav-text {
  relative: top 35px;
}

.nav-category-1 .nav-icon {
  background: #d85a5a;
}

.nav-category-1 .nav-icon::after {
  border-top-color: #d85a5a;
  border-left-color: #d85a5a;
}

.nav-category-2 .nav-icon {
  background: #db9256;
}

.nav-category-2 .nav-icon::after {
  border-top-color: #db9256;
  border-left-color: #db9256;
}

.nav-category-3 .nav-icon {
  background: #839e4b;
}

.nav-category-3 .nav-icon::after {
  border-top-color: #839e4b;
  border-left-color: #839e4b;
}

.nav-category-4 .nav-icon {
  background: #2582a3;
}

.nav-category-4 .nav-icon::after {
  border-top-color: #2582a3;
  border-left-color: #2582a3;
}

.nav-category-5 .nav-icon {
  background: #2e63a9;
}

.nav-category-5 .nav-icon::after {
  border-top-color: #2e63a9;
  border-left-color: #2e63a9;
}

@media screen and (max-width: 720px) {
  .nav-item {
    width: 13%;
  }
}

@media screen and (max-width: 600px) {
  .m-nav {
    display: block;
  }
  #nav {
    fixed: top 0 left -45%;
    z-index: 9999;
    text-align: center;
    background-color: #222;
    transition: all 500ms ease;
  }
  #nav.show {
    left: 0;
    overflow: scroll;
  }
  .nav-item {
    display: block;
    left: 0;
    right: 0;
    margin: 25px auto;
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .m-nav {
    font-size: 15px;
    absolute: top 5px left 5px;
  }
  .logo {
    font-size: 24px;
  }
  .logo .logo-icon {
    font-size: 18px;
  }
  .nav-item {
    height: 40px;
    margin: 20px auto;
  }
  .nav-item .nav-icon:after {
    absolute: top 15px left 7px;
    border-width: 2px 3px;
  }
  .nav-item .nav-text {
    top: 25px;
  }
}

.search {
  absolute: top 10px right 10px;
}

.search .search-form {
  display: inline-block;
}

.search .search-form-input {
  opacity: 0;
  width: 0;
  transition: all 500ms ease;
}

.search:hover .search-form-input {
  opacity: 1;
  width: 135px;
}

@media screen and (max-width: 480px) {
  .search {
    display: none;
  }
}