.title {
  margin: 10px 0 15px 0;
}

.title-font {
  font-weight: lighter;
  font-size: 60px;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 3px;
  color: #eee;
}

.nav-category1 .nav-talk {
  background: #d85a5a;
}

.nav-category1 .nav-talk::after {
  border-top-color: #d85a5a;
  border-left-color: #d85a5a;
}

.nav-category2 .nav-talk {
  background: #f59d56;
}

.nav-category2 .nav-talk::after {
  border-top-color: #f59d56;
  border-left-color: #f59d56;
}

.nav-category3 .nav-talk {
  background: #839e4b;
}

.nav-category3 .nav-talk::after {
  border-top-color: #839e4b;
  border-left-color: #839e4b;
}

.nav-category4 .nav-talk {
  background: #2582a3;
}

.nav-category4 .nav-talk::after {
  border-top-color: #2582a3;
  border-left-color: #2582a3;
}

.nav-category5 .nav-talk {
  background: #2e63a9;
}

.nav-category5 .nav-talk::after {
  border-top-color: #2e63a9;
  border-left-color: #2e63a9;
}

nav {
  height: 60px;
  font-family: 'Merienda One', cursive;
  font-size: 14px;
}

.nav-talk {
  height: 20px;
  width: 25px;
  border-radius: 4px;
  top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-item:hover .nav-talk {
  top: 2px;
}

.nav-item {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0 1%;
  width: 100px;
  height: 50px;
}

.nav-talk::after {
  content: '';
  height: 0;
  width: 0;
  display: block;
  top: 19px;
  left: 10px;
  position: absolute;
  border-width: 3px 4px;
  border-color: transparent transparent transparent transparent;
  border-style: solid;
}

.nav-talk + .nav-text {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}