body {
  color: #ddd;
  background-color: #444;
  font-family: 'Inconsolata';
  font-size: 16px;
  line-height: 1.25;
  text-align: justify;
}

body > header {
  fixed: top 0;
  z-index: 999;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  background-color: #303030;
  transition: all 500ms ease;
}

body > article {
  relative: left 0 right 0;
  margin: 185px auto 50px auto;
  transition: all 500ms ease;
}

@media screen and (max-width: 600px) {
  body > header {
    height: 90px;
    transition: all 500ms ease;
  }
  body > article {
    margin-top: 115px;
    transition: all 500ms ease;
  }
}

@media screen and (max-width: 480px) {
  body > header {
    height: 50px;
    transition: all 500ms ease;
  }
  body > article {
    margin-top: 65px;
    transition: all 500ms ease;
  }
}

body > footer {
  position: relative;
  margin: 0;
  padding: 10px 0;
  border-top: 1px dotted #ccc;
  text-align: center;
}