.post-list {
  position: relative;
  margin: auto;
}

.post-list li:nth-child(odd) .post-summary::after {
  absolute: top 30px left 100%;
}

.post-list li:nth-child(even) .post-summary::after {
  absolute: top 180px right 100%;
}

.post-list li .post-summary-category-1 {
  background-color: #d85a5a;
}

.post-list li:nth-child(odd) .post-summary-category-1::after {
  border-left-color: #d85a5a;
}

.post-list li:nth-child(even) .post-summary-category-1::after {
  border-right-color: #d85a5a;
}

.post-list li .post-summary-category-2 {
  background-color: #db9256;
}

.post-list li:nth-child(odd) .post-summary-category-2::after {
  border-left-color: #db9256;
}

.post-list li:nth-child(even) .post-summary-category-2::after {
  border-right-color: #db9256;
}

.post-list li .post-summary-category-3 {
  background-color: #839e4b;
}

.post-list li:nth-child(odd) .post-summary-category-3::after {
  border-left-color: #839e4b;
}

.post-list li:nth-child(even) .post-summary-category-3::after {
  border-right-color: #839e4b;
}

.post-list li .post-summary-category-4 {
  background-color: #2582a3;
}

.post-list li:nth-child(odd) .post-summary-category-4::after {
  border-left-color: #2582a3;
}

.post-list li:nth-child(even) .post-summary-category-4::after {
  border-right-color: #2582a3;
}

.post-list li .post-summary-category-5 {
  background-color: #2e63a9;
}

.post-list li:nth-child(odd) .post-summary-category-5::after {
  border-left-color: #2e63a9;
}

.post-list li:nth-child(even) .post-summary-category-5::after {
  border-right-color: #2e63a9;
}

.post-summary {
  position: relative;
  float: left;
  margin: 15px 5%;
  vertical-align: top;
  border-radius: 5px;
}

.post-summary::after {
  content: '';
  position: absolute;
  display: block;
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
}

.post-summary .post-summary-cover {
  display: block;
  position: relative;
  margin: 20px;
  height: 60%;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.post-summary .post-summary-cover .post-summary-cover-icon {
  opacity: 0;
  absolute: top 0 bottom 0 left 0 right 0;
  margin: auto;
  font-size: 75px;
  transition: all 200ms ease;
}

.post-summary .post-summary-cover::before {
  content: '';
  opacity: 0;
  absolute: top 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 200ms ease;
}

.post-summary .post-summary-cover:hover::before {
  opacity: 1;
}

.post-summary .post-summary-cover:hover .post-summary-cover-icon {
  opacity: 1;
}

.post-summary .post-summary-title {
  display: table-cell;
  padding: 20px 20px 10px 20px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.post-summary .post-summary-excerpt {
  display: none;
  margin: 10px 0;
  padding: 0 20px;
  height: 160px;
  overflow: hidden;
  letter-spacing: 2px;
}

.post-summary .post-summary-comments {
  absolute: left 20px bottom 20px;
  font-size: 12px;
}

.post-summary .post-summary-comments a {
  relative: left 20px;
}

.post-summary .post-summary-comments-icon {
  border-radius: 2px;
}

.post-summary .post-summary-comments-icon:after {
  absolute: top 10px left 4px;
  border-width: 2px 2px;
}

.post-summary .post-summary-tags {
  absolute: left 50px bottom 20px;
  font-size: 12px;
}

.post-summary .post-summary-plus {
  absolute: right -10px bottom 20px;
}

.post-summary .post-summary-plus >* {
  vertical-align: middle !important;
}

@media screen and (min-width: 1281px) {
  .post-list li:nth-child(odd) .post-summary {
    margin: 15px 4% 15px 6%;
  }
  .post-list li:nth-child(even) .post-summary {
    margin: 15px 6% 15px 4%;
  }
  .post-summary {
    height: 360px;
  }
  .post-summary .post-summary-cover {
    float: left;
  }
  .post-summary .post-summary-cover:after {
    content: '';
    position: absolute;
    margin-left: 20px;
    height: 100%;
    border-right: 1px dotted #ccc;
  }
  .post-summary .post-summary-title {
    text-align: left;
  }
  .post-summary .post-summary-excerpt {
    display: block;
  }
  .post-summary .post-summary-comments,
  .post-summary .post-summary-tags {
    margin-left: 50%;
  }
}

@media screen and (max-width: 960px) {
  .post-list {
    width: 85%;
    margin-left: 88px;
  }
  .post-list li:nth-child(odd) .post-summary::after,
  .post-list li:nth-child(even) .post-summary::after {
    top: 75px;
  }
  .post-list li:nth-child(odd) .post-summary::after,
  .post-list li:nth-child(even) .post-summary::after {
    left: -40px;
  }
  .post-list li:nth-child(odd) .post-summary-category-1::after {
    border-left-color: transparent;
    border-right-color: #d85a5a;
  }
  .post-list li:nth-child(odd) .post-summary-category-2::after {
    border-left-color: transparent;
    border-right-color: #db9256;
  }
  .post-list li:nth-child(odd) .post-summary-category-3::after {
    border-left-color: transparent;
    border-right-color: #839e4b;
  }
  .post-list li:nth-child(odd) .post-summary-category-4::after {
    border-left-color: transparent;
    border-right-color: #2582a3;
  }
  .post-list li:nth-child(odd) .post-summary-category-5::after {
    border-left-color: transparent;
    border-right-color: #2e63a9;
  }
  .post-summary {
    margin: 10px;
  }
  .post-summary .post-summary-cover {
    float: left;
  }
  .post-summary .post-summary-cover:after {
    content: '';
    position: absolute;
    margin-left: 20px;
    height: 100%;
    border-right: 1px dotted #ccc;
  }
  .post-summary .post-summary-title {
    text-align: left;
  }
  .post-summary .post-summary-excerpt {
    display: block;
  }
  .post-summary .post-summary-comments,
  .post-summary .post-summary-tags {
    margin-left: 50%;
  }
}

@media screen and (max-width: 720px) {
  .post-summary {
    width: 90%;
  }
  .post-summary .post-summary-cover {
    float: none;
    border: none;
  }
  .post-summary .post-summary-cover::after {
    display: none;
  }
  .post-summary .post-summary-title {
    padding: 0 20px;
    height: 30px;
    font-size: 24px;
    text-align: center;
  }
  .post-summary .post-summary-excerpt {
    display: none;
  }
  .post-summary .post-summary-comments,
  .post-summary .post-summary-tags {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .post-list {
    margin-left: 15%;
  }
}

@media screen and (max-width: 480px) {
  .post-list {
    width: 84%;
    margin-left: 50px;
  }
  .post-list li:nth-child(odd) .post-summary::after,
  .post-list li:nth-child(even) .post-summary::after {
    left: -30px;
    border-width: 15px;
  }
  .post-list .post-summary-comments,
  .post-list .post-summary-tags,
  .post-list .post-summary-plus {
    display: none;
  }
}