.paginator {
  absolute: left 0 right 0 bottom -35px;
  margin: auto;
  text-align: center;
}

.page-number {
  display: inline-block;
  margin: 0 5px;
  line-height: 25px;
  border-radius: 20px;
  background-color: #848484;
}

.page-number.current {
  background-color: #000;
}